.logo{font-size: 10em; color: #4578EF; font-weight: 700; text-transform: uppercase;}
h1{font-size: 2.4em; color: #333; font-weight: 700;}
h1 strong{color: #ccc; font-weight: 700;}
p{font-size: 1em; color: #666; font-weight: 300;}